body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
  flex: 1 0 auto;
}

nav {
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 1000;
}

html,body {
  font-family: 'Varela Round', sans-serif;
  font-weight: 200;
  /*padding-bottom: 100px;*/
}

.main-view {
  /*padding-top: 80px;*/
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  text-shadow: -4px 4px 6px rgba(42,42,42,0.2);
}

p > a {
  color: #a1887f !important;
  text-shadow: -2px 2px 3px rgba(255, 196, 0, 0.3);
  transition: all 200ms ease-in-out;
}
p > a:hover {
  color: #4e342e !important;
  text-shadow: -3px 3px 5px rgba(255, 196, 0, 0.4);
  transition: all 200ms ease-in-out;
}

img {
  -webkit-filter: drop-shadow(-5px 7px 6px rgba(0,0,0,0.5));
  filter: drop-shadow(-5px 7px 6px rgba(0,0,0,0.5));
}

input[type=text]:focus:not([readonly]) {
  border-bottom: 1px solid #795548;
  box-shadow: 0 1px 0 0 #795548;
  font-size: 19px;
}

label {
  z-index: -1;
}

textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #795548;
  box-shadow: 0 1px 0 0 #795548;
  font-size: 19px;
}

.post-index-card {
  padding: 10px 20px 20px 20px;
  cursor: pointer;
}


