
<div class="fixed-action-btn vertical col s12 m6 offset-m6" style="bottom: 12px; right: 12px;">
  <a class="btn-floating btn-large brown lighten-3">
    <i class="large material-icons brown-text text-lighten-1">vpn_key</i>
  </a>
  <ul>
  <li>
    <a tooltipped ui-sref="main.sign_up"  class="btn-floating amber lighten-5"
      data-position="left" data-delay="50" data-tooltip="SIGNUP">
      <i class="material-icons amber-text text-accent-3">person_add</i>
    </a>
  </li>
  <li>
    <a tooltipped ui-sref="main.sign_on" class="btn-floating amber lighten-5"
      data-position="left" data-delay="50" data-tooltip="SIGNON">
      <i class="material-icons amber-text text-accent-3">person</i>
    </a>
  </li>
  </ul>
</div>