<div class="container"  ng-controller="main_ctrl">

<div class="valign-wrapper" style="min-height: 100vh;">
<form name="sign_up" class="sign-up-form valign container" ng-submit="signup(params)" novalidate>

  <div class="col s12 m6 offset-m6">
    <input-field>
      <input type="text" ng-model="params.username" length="32" 
        class="brown-text text-darken-2" required autofocus/>
      <label class="brown-text">Username...</label>
    </input-field>
  </div>

  <div class="col s12 m6 offset-m6">
    <input-field>
      <input type="text" ng-model="params.fullname" length="32" 
        class="brown-text text-darken-2" required autofocus/>
      <label class="brown-text">Full Name...</label>
    </input-field>
  </div>

  <div class="col s12 m6 offset-m6">
    <input-field>
      <input type="text" ng-model="params.email" 
        class="brown-text text-darken-2" required autofocus/>
      <label class="brown-text">Email...</label>
    </input-field>
  </div>

  <div class="col s12 m6 offset-m6">
    <input-field>
      <input type="password" ng-model="params.password" 
        class="brown-text text-darken-2" required/>
      <label class="brown-text">Password...</label>
    </input-field>
  </div>

  <div class="col s12 m6 offset-m6">
    <button class="btn brown bown-text text-lighten-4" type="submit">SUBMIT</button>
  </div>


</form>
</div>

</div>