<div class="container">

<form name="post_edit" class="post_edit" ng-submit="submit(post)" novalidate>

  <div class="col s12 m10 offset-m1">
    <input-field>
      <input type="text" ng-model="post.title" length="75" 
        value="{{post.title}}" ng-keyup="to_slug(post.title)"
        class="brown-text text-darken-2" required autofocus/>
      <label class="brown-text">Title...</label>
    </input-field>
  </div>

  <div class="col s12 m10 offset-m1">
    <input-field>
      <input type="text" ng-model="post.url_slug" length="75" value="{{post.url_slug}}" class="brown-text text-darken-2"/>
      <label class="brown-text">URL...</label>
    </input-field>
  </div>

  <div class="col s12 m10 offset-m1">
    <input-field>
      <textarea ng-model="post.content" class="materialize-textarea brown-text text-darken-2" required>
        {{post.content}}
      </textarea>
      <label class="brown-text">Content...</label>
    </input-field>
  </div>

  <input type="submit" style="display: none;"/>

  <div ui-view="edit_nav_view"></div>

</form>

</div>