<div class="fixed-action-btn vertical" style="bottom: 12px; right: 12px;">
  <a class="btn-floating btn-large brown lighten-3">
    <i class="large material-icons brown-text text-lighten-1">mode_edit</i>
  </a>
  <ul>
    <li><a tooltipped class="btn-floating amber lighten-5"
      data-position="left" data-delay="50" data-tooltip="schedule">
      <i class="material-icons amber-text text-accent-3">schedule</i>
    </a></li>
    <li><a tooltipped class="btn-floating amber lighten-5"
      data-position="left" data-delay="50" data-tooltip="post"
      ng-click="submit(post)">
      <i class="material-icons amber-text text-accent-3">input</i>
    </a></li>
    <li><a tooltipped class="btn-floating amber lighten-5"
      data-position="left" data-delay="50" data-tooltip="save">
      <i class="material-icons amber-text text-accent-3">system_update_alt</i>
    </a></li>
  </ul>
</div>