<div class="container" ng-controller="post_feed_ctrl">
<div ng-repeat="post in posts">

<div ui-sref="post_body({feed: post.feed || post.username, url_slug: post.url_slug})" class="hoverable container post-index-card">
  
    <div class="col s12 m10 offset-m1">
      <h4 class="brown-text text-darken-3 card-title">{{post.title}}</h4>
    </div>

    <div class="post-body">
      <div class="col s12 m10 offset-m1">  
        <div class="brown-text text-darken-2">
          {{post.content | limitTo: 128 }}
        </div>
      </div>
    </div>

    <div class="right-align">
      <div class="chip brown lighten-4">
        {{post.published | date:format}}
      </div>
    </div>
  
</div>

</div>
</div>