<div class="container" ng-controller="post_body_ctrl">


<div class="row">
  <h2 class="brown-text text-darken-3">{{post.title}}</h2>
</div>
<div class="row">
  <div class="chip brown lighten-4">
    {{post.fullname}}
  </div>
  <div class="chip brown lighten-4">
    {{post.published | date:format}}
  </div>
</div>

<div class="row post-body">
  <div class="col s12 m10 offset-m1">  
    <div class="flow-text brown-text text-darken-2">
      
      {{post.content}}

    </div>
  </div>
</div>




</div>