
<nav> 
      <div class="nav-wrapper brown lighten-4">
        
          <ul class="left">
            <li>
              <a tooltipped class="btn-floating btn-large waves-effect waves-light brown lighten-2"
                data-position="bottom" data-delay="90" data-tooltip="BLOG"
                ui-sref="swig.feed({feed:'lukas'})">
                <i class="material-icons brown-text text-darken-3">library_books</i>
              </a>
            </li>
            <li>
              <a tooltipped class="btn-floating btn-large waves-effect waves-light brown lighten-2"
                data-position="bottom" data-delay="90" data-tooltip="WORK"
                ui-sref="main">
                <i class="material-icons brown-text text-darken-3">perm_media</i>
              </a>
            </li>
          </ul>
          <ul class="right">
            <li>
              <a tooltipped class="btn-floating btn-large waves-effect waves-dark amber lighten-5"
                data-position="bottom" data-delay="90" data-tooltip="BIO"
                ui-sref="main">
                <i class="material-icons amber-text text-accent-3">assignment_ind</i>
              </a>
            </li>
          </ul>
    
      </div>
    </nav>
